.add-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 92vw;
  height: 96vh;
  margin: 4vw auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 4vw 0;
  border-radius: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.add-product::-webkit-scrollbar {
  display: none;
}

.add-product > img {
  width: 200px;
  margin: 7vw 0 14vw;
}

.add-product > h2 {
  text-align: center;
  font-size: 24px;
}

.add-form {
  width: 90vw;
  margin-top: 30px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-form div {
  margin-bottom: 1rem;
  text-align: left;
}

.add-form label {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-weight: bold;
  color: #333;
  font-size: 0.9rem;
}

.custom-input-wrapper {
  margin-top: 0.5rem;
}

.add-form input[type="text"],
.add-form input[type="number"],
.add-form select {
  width: 100%;
  padding: 0.4rem;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.add-form button {
  width: 100%;
  padding: 0.6rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.add-form button:hover {
  background-color: #6c1313;
}
